.site-layout-content {
    background: #fff;
    padding: 24px;
    min-height: 280px;
  }
  #components-layout-demo-top .logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 24px 16px 0;
    float: left;
  }

.locations-dropdown{
    /*  float: left;*/
}

.map{
    position: relative;
    top: 15px;
}
.active-path{
    fill: #C35989!important;
}

.map-region:hover{
    fill: #bbde18;
    cursor: pointer;
}

.map-region{
    fill: #B9CFDE;
    cursor: pointer;
}

.location-search{
    height: auto;
}

